@use "../../../styles/responsiveness.scss";



.passwordReset{

        background-color: #231839;
    color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @include responsiveness.small{
        gap: 20px;
    }




    form{

        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px 30px 30px;
        text-align: center;
        border-radius: 10px;



        input{

            padding: 10px;
            border-radius: 5px;
            border: none;
            font-size: 18px;
            border-bottom: 2px solid grey;


               &:focus{
                box-shadow: 5px 5px 5px ;
                outline: none;
            }

            @include responsiveness.small{
                font-size: 14px;
            }
        }

        button,.loginButton{
            background-color: #4081b8;
            border: none;
            padding: 15px;
            border-radius: 5px;
            font-size: 18px;
            color: #ffff;

            @include responsiveness.small{
                font-size: 14px;
            }

        }

            .loginButton{
                background-color: #fff;
                color:#4081b8;
            }
    }



}